<!-- <div class="card" *ngIf="student">
    <div class="card-body">
      Student details
      {{student.id}}
      {{student.firstName}}
      {{student.lastName}}
      {{student.grade}}
      {{student.address}}
      {{student.phoneNumber}}
      {{student.email}}
      {{student.averageGrade}}
    </div>
</div> -->
<div class="card" *ngIf="student else noStudent ">
    <div class="card-body">
        <div class="form-group">
            <label for="name">Student Id:</label>
            <input type="number" class="form-control" id="name" [value]="student.id" >
        </div>

        <div class="form-group">
            <label for="firstName">Student firstName:</label>
            <input type="text" class="form-control" id="firstName" [value]="student.firstName" >
        </div>
        <div class="form-group">
            <label for="lastName">Student lastName:</label>
            <input type="text" class="form-control" id="lastName" [value]="student.lastName" >
        </div>
        <div class="form-group">
            <label for="address">Student address:</label>
            <input type="text" class="form-control" id="address" [value]="student.address" >
        </div>
        <div class="form-group">
            <label for="phoneNumber">Student phoneNumber:</label>
            <input type="text" class="form-control" id="phoneNumber" [value]="student.phoneNumber" >
        </div>
        <div class="form-group">
            <label for="averageGrade">Student averageGrade:</label>
            <input type="number" class="form-control" id="averageGrade" [value]="student.averageGrade" >
        </div>
        <div class="form-group">
            <label for="email">Student email:</label>
            <input type="email" class="form-control" id="email" [value]="student.email" >
        </div>
        <div class="form-group">
            <label for="grade">Student grade:</label>
            <input type="text" class="form-control" id="grade" [value]="student.grade" >
        </div>
        <div class="form-group">
            <label for="isActive">Student isActive:</label>
            <input type="text" class="form-control" id="isActive" [value]="student.isActive" >
        </div>


        <button class="btn btn-primary" (click)="saveNewStudent()">Save</button>
        <!-- </form> -->
      <!-- <h5>Student Details</h5>
      <p><strong>ID:</strong> {{ student.id }}</p>
      <p><strong>First Name:</strong> {{ student.firstName }}</p>
      <p><strong>Last Name:</strong> {{ student.lastName }}</p>
      <p><strong>Grade:</strong> {{ student.grade }}</p>
      <p><strong>Address:</strong> {{ student.address }}</p>
      <p><strong>Phone Number:</strong> {{ student.phoneNumber }}</p>
      <p><strong>Email:</strong> {{ student.email }}</p>
      <p><strong>Average Grade:</strong> {{ student.averageGrade }}</p>
      <p><strong>Active:</strong> {{ student.isActive ? 'Yes' : 'No' }}</p>
   -->
      <!-- הצגת תאריך עזיבה רק אם הסטודנט אינו פעיל -->
      <div *ngIf="!student.isActive">
        <p><strong>Leave Date:</strong> {{ student.leaveDate | date: 'shortDate' }}</p>
      </div>
    </div>
  </div>

  <ng-template #noStudent>
    <div class="card">
        No Student To Display
    </div>
</ng-template>
  